{{>layout/header}}
<h1></h1>
<div class="col-md-12">
    <div class="row">
    </div>
</div>
<div class="container mt-3">
    <h1> 포트 폴리오 - 천진호</h1>
    <div class="container mt-3">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-VNDYU-vASe3adx0mwYzrc5iY9GaxKZ5agfkGpxazmvBx7reZqkwnR1zUcUZz_A0Zcfg&usqp=CAU" class="rounded-circle"
             alt="Cinque Terre" width="304" height="236">
        <style>
            body {
                background-image: url('https://www.colordic.org/image/dcd6d9.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
        </style>
    </div>
</div>
{{>layout/footer}}
